* {
    margin: 0;
    padding: 0;
    font-family: Raleway;

}

/* nav starts here  */
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    max-width: 1120px;
    margin: 0 auto;
    align-items: center;

}

.logo {

    font-size: 38px;
    font-weight: 900px;
    font-family: "Inter", sans-serif;
    color: rgb(78, 71, 255);
}

.btn-primary {
    padding: 12px 36px 12px;
    height: 48px;
    border-radius: 12px;
    font-size: 15px;
    background-color: rgb(78, 71, 255);
    color: white;
    font-weight: bolder;
    text-align: center;
    border: none;
}

/* banner setion  */
.banner {
    text-align: center;

    max-width: 1120px;
    margin: 0 auto;
    align-items: center;
}


.cool {
    height: 152px;
    width: 905px;
    font-size: 65px;
    text-align: center;
    margin: 80px auto;

}

/* header sectiopn  */
.header {
    background-image: url("../Assets/Hero-bg.png");
    height: 550px;
}

/* action  */
.action {
    max-width: 1120px;
    margin: 0px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;



}

.see {
    text-align: left;
    width: 48%;



}

.seeit {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}

.explore {
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 20px;


}

section div img {
    width: 403px;
    height: 328px;
    border-radius: 50px;

}

/* join  */
.join {

    max-width: 1140px;
    margin: 0 auto;
    height: 306px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.Thousands {
    font-weight: 70px;
    font-size: 38px;
    margin-top: 20px;
    padding-top: 40px;

}

.Users {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 180px;

}

.colors {
    color: rgb(78, 71, 255);
    font-size: 80px;
    font-weight: 700;

}

.color {
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);

}

/* what our  */
.what {
    height: 342px;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 20px;


}

.our {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 40px;

}

.stars {
    width: 366px;
    height: 240px;
    padding-left: 25px;
    border-radius: 10px;
    background:white;


}

.star {
    margin-top: 25px;
}

section div .star img {
    height: 15px;
    width: 15px;
    margin-bottom: 20px;
}

.pictures {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.picture img {
    height: 33px;
    width: 33px;
}

.love {
    margin-bottom: 20px;
}

/* lets get  */
.title {
    max-width: 1140px;
    margin: 0 auto;
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.lets {
    font-size: 65px;
    font-weight: 700;
}

label {
    font-weight: 500;
    font-size: 20px;
}

input::placeholder,
textarea {
    padding: 20px 32px;


}

input,
textarea {
    height: 50px;
    width: 400px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 17px;
    border-radius: 15px;
    background-color: white;
    border: none;
}

.btn-primary1 {

    width: 100%;
    text-align: center;
}

/* logo footer */
.lego {
    font-size: 100px;
    font-weight: 900;
    color: rgb(78, 71, 255);
    text-align: center;
}

.Ready {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: rgb(137, 135, 161);
    margin-top: 20px;
}

.Home {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
    margin-bottom: 50px;
}

div .Home li {
    list-style-type: none;
}

div .Home a {

    text-decoration: none;
    color: rgb(137, 135, 161);
}

footer {
    padding-top: 100px;
    background-color: white;
    height: 300px;
    align-items: center;
}

.btn-primary:hover {
    color: black;
    background-color: #F0E68C;
    cursor: pointer;

}
main{
    background-color: rgb(245, 248, 255);
}